
html,
body {
  height: 100%;
}

.__main {
  max-width: 40%;
  margin: auto;
  background-color: #fff;
  min-height: 90vh;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px 0px 20px;
  display: flex;
}

@media (max-width: 600px) { 
  .__main {
    max-width: 90%;
    margin: auto;
    background-color: #fff;
    min-height: 80vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c84ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b5bfe;
}